html{
  margin-right:1%;
  margin-left:1%;
  margin-bottom:2%;
  font-family: 'PT Sans', sans-serif;
  overflow-y: scroll;
}

body {
    background-image: url("images/background-image.png");
    background-size:cover;
    margin:2%;

  }

  h1{
    color:white;
    font-size:1.2em;
    background-color:grey;
    border-radius: 8px;
  }

  h3{
    color:black;
    font-size: 2vw;
  }

  .text{
    color:white;
    margin-left: -30%;
    background-color:grey;
    border-radius: 8px;
    padding: 3%;
    font-size: 1.1rem;
    
  }

  .text2{
    color:white;
    margin-left: -30%;
    background-color:grey;
    border-radius: 8px;
    padding: 3%;
    font-size: 1.1rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .project-title{
    font-size:2em;
    color:white;
    border-bottom:solid 3px;
    text-align:center;
    font-weight:bold;
  }

  .project-title:hover{
    font-size:2em;
color:darkblue
  }

  img{
    padding:5%;
    width: 75%;
    height:75%;
  }

  #project-header{
    text-align: center;
    padding:3%;
    margin-top:-4%;
    margin-bottom:-4%;
    font-size: 2.5rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  #horoscope{
    background-image: url("images/beer.png");
    background-size:cover;
    padding:10%;
    font-size:2.5em;
  }

  #schedule{
    background-image: url("images/quiz.png");
    background-size:cover;
    padding:10%;
    font-size:2.5em;
  }


  #weather{
    background-image: url("images/note-taker.png");
    background-size:cover;
    padding:10%;
    font-size:2.5em;
  }

  .github-link{
    color:darkblue;
    font-weight:bold;
    text-align:center;
    font-style: italic;
  }

  .github-link:hover{
    text-decoration:underline;
  }

  #quiz{
    background-image: url("images/quiz.jpg");
    background-size:cover;
    padding:3%;
  }

  button:hover {
    font-weight:bold;
    border-color:black;
    cursor: pointer;
    opacity: 60%;
  }

  nav ul li:hover {
    background-color: white;

 }

 .bottom{
  background-color: grey;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-right: 1%;
  padding-left: 1%;
  padding-bottom: .3%;
 }